<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.hrbu.trace_backend_job.mapper.EnterpriseOperateMapper">

    <resultMap id="operateResult" type="edu.hrbu.trace_backend_job.entity.po.EnterpriseOperate">
        <id property="iid" column="iid"/>
        <result property="oid" column="oid"/>
        <result property="eid" column="aid"/>
        <result property="operate" column="operate"/>
        <result property="operateTime" column="operate_time"/>
        <association property="operator" javaType="edu.hrbu.trace_backend_job.entity.po.AccountInfo">
            <result property="name" column="operate_name"/>
            <result property="avatar" column="operate_avatar"/>
        </association>
        <association property="enterprise" javaType="edu.hrbu.trace_backend_job.entity.po.Enterprise">
            <result property="name" column="enterprise_name"/>
        </association>
    </resultMap>

    <select id="selectEnterpriseOperateByCondition" resultMap="operateResult">
        SELECT
            enterprise_operate.iid,
            enterprise_operate.oid,
            enterprise_operate.eid,
            enterprise_operate.operate,
            enterprise_operate.operate_time,
            operate_table.name              AS operate_name,
            operate_table.avatar            AS operate_avatar,
            enterprise_table.name           AS enterprise_name
        FROM
            enterprise_operate
        LEFT JOIN account_info AS operate_table on enterprise_operate.oid = operate_table.aid
        LEFT JOIN enterprise AS enterprise_table on enterprise_operate.eid = enterprise_table.eid
        <where>
            <if test="condition != null and condition != ''">
                operate_table.name LIKE CONCAT('%',#{condition},'%') OR enterprise_table.name LIKE CONCAT('%',#{condition},'%')
            </if>
        </where>
        ORDER BY enterprise_operate.operate_time DESC
    </select>

</mapper>
