<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.hrbu.trace_backend_job.mapper.RoleMapper">

    <resultMap id="roleResult" type="edu.hrbu.trace_backend_job.entity.po.Role">
        <id property="rid" column="rid"/>
        <result property="name" column="name"/>
        <result property="memo" column="memo"/>
        <result property="del" column="del"/>
        <result property="ban" column="ban"/>
        <collection property="menues" javaType="String">
            <result property="name" column="menues"/>
        </collection>
    </resultMap>

    <select id="selectRoleByCondition" resultMap="roleResult">
        SELECT
            role.rid,
            role.name,
            role.memo,
            role.del,
            role.ban,
            GROUP_CONCAT( menue.name ORDER BY menue.name SEPARATOR ',' ) AS menues
        FROM
            role
        JOIN role_menue_contrast ON role.rid = role_menue_contrast.rid
        JOIN menue ON role_menue_contrast.mid = menue.mid
        <where>
            menue.parent = 0
            <if test="condition.name != '' and condition.name != null">
                AND `role`.name LIKE CONCAT('%',#{condition.name},'%') OR menue.name LIKE CONCAT('%',#{condition.name},'%')
            </if>
            <if test="condition.del != '' and condition.del != null">
                AND role.del = #{condition.del}
            </if>
            <if test="condition.ban != '' and condition.ban != null">
                AND role.ban = #{condition.ban}
            </if>
        </where>
        GROUP BY
            `role`.rid,
            `role`.name,
            `role`.memo,
            `role`.del,
            `role`.ban
    </select>

</mapper>
