<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="edu.hrbu.trace_backend.mapper.ProductMapper">

    <resultMap id="productResult" type="edu.hrbu.trace_backend.entity.po.Product">
        <id property="pid" column="pid"/>
        <result property="className" column="classification_name"/>
        <result property="enterpriseName" column="enterprise_name"/>
        <result property="photo" column="photo"/>
        <result property="code" column="code"/>
        <result property="name" column="name"/>
        <result property="unit" column="unit"/>
        <result property="isMajor" column="is_major"/>
        <association property="productRecord" javaType="edu.hrbu.trace_backend.entity.po.ProductRecord">
            <id property="rid" column="rid"/>
            <result property="accountName" column="info_name"/>
            <result property="num" column="num"/>
            <result property="approver" column="approver"/>
            <result property="statue" column="statue"/>
            <result property="processTime" column="process_time"/>
            <result property="insertTime" column="insert_time"/>
            <result property="importType" column="import_type"/>
        </association>
    </resultMap>

    <select id="selectProductByCondition" resultMap="productResult">
        SELECT
            product.pid,
            classification.name     AS classification_name,
            enterprise.name         AS enterprise_name,
            product.photo,
            product.code,
            product.name,
            product.unit,
            product.is_major,
            product_record.rid,
            account_info.name       AS info_name,
            product_record.num,
            product_record.approver,
            product_record.statue,
            product_record.process_time,
            product_record.insert_time,
            product_record.import_type
        FROM
            product
        JOIN product_record ON product.pid = product_record.pid
        JOIN classification ON product.cid = classification.cid
        JOIN enterprise ON product.eid = enterprise.eid
        JOIN account_info ON product_record.aid = account_info.aid
        <where>
            1 = 1
            <if test="condition.name != null and condition.name != ''">
                AND product.name LIKE CONCAT('%', #{condition.name}, '%') OR product.code LIKE CONCAT('%', #{condition.name}, '%')
            </if>
            <if test="condition.enterprise != null and condition.enterprise != ''">
                AND enterprise.social_code LIKE CONCAT('%', #{condition.enterprise}, '%') OR enterprise.name LIKE CONCAT('%', #{condition.enterprise}, '%')
            </if>
            <if test="condition.classification != null and condition.classification != ''">
                AND classification.name = #{condition.classification}
            </if>
            <if test="condition.isMajor != null and condition.isMajor != ''">
                AND product.is_major = #{condition.isMajor}
            </if>
            <if test="condition.importType != null and condition.importType != ''">
                AND product_record.import_type = #{condition.importType}
            </if>
            <if test="condition.statue != null and condition.statue != ''">
                AND product_record.statue = #{condition.statue}
            </if>
            ORDER BY product_record.insert_time DESC
        </where>
    </select>

</mapper>
