<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="edu.hrbu.trace_backend.mapper.StatisticsMapper">

    <select id="selectMonitorHistogramDataByTimeBetween" resultType="java.lang.Integer">
        SELECT
            (SELECT COUNT(*) FROM product_record WHERE process_time LIKE CONCAT('%',#{condition},'%')) +
            (SELECT COUNT(*) FROM product_record pr WHERE pr.insert_time LIKE CONCAT('%',#{condition},'%')) +
            (SELECT COUNT(*) FROM approach WHERE business_time LIKE CONCAT('%',#{condition},'%')) +
            (SELECT COUNT(*) FROM entrance WHERE business_time LIKE CONCAT('%',#{condition},'%'))
    </select>

    <select id="selectMonitorNodeHistogramDataByTimeBetween" resultType="java.lang.Integer">
        WITH classification_query AS (
            SELECT cid
            FROM classification
            WHERE cid = #{id} OR parent = #{id}
        )
        SELECT
            (
                SELECT
                    COUNT(*)
                FROM product_record
                JOIN product ON product_record.pid = product.pid
                JOIN classification_query ON product.cid = classification_query.cid
                WHERE STR_TO_DATE(product_record.insert_time,'%Y-%m-%d') BETWEEN #{before} AND #{now}

            )+
            (
                SELECT
                    COUNT(*)
                FROM product_record
                JOIN product ON product_record.pid = product.pid
                JOIN classification_query ON product.cid = classification_query.cid
                WHERE STR_TO_DATE(product_record.process_time,'%Y-%m-%d') BETWEEN #{before} AND #{now}
            )+
            (
                SELECT
                    COUNT(*)
                FROM approach
                JOIN classification_query ON approach.cid = classification_query.cid
                WHERE STR_TO_DATE(business_time,'%Y-%m-%d') BETWEEN #{before} AND #{now}
            )+
            (
                SELECT
                    COUNT(*)
                FROM entrance
                JOIN classification_query ON entrance.cid = classification_query.cid
                WHERE STR_TO_DATE(business_time,'%Y-%m-%d') BETWEEN #{before} AND #{now}
            )
    </select>

    <select id="selectStatisticsDataByTimeAndClassId" resultType="edu.hrbu.trace_backend.entity.po.Statistics">
        WITH classification_query AS (
            SELECT cid
            FROM classification
            WHERE cid = #{id} OR parent = #{id}
        )
        SELECT
            (
                SELECt COUNT(*)
                FROM product_record
                JOIN product ON product_record.pid = product.pid
                JOIN classification_query ON product.cid = classification_query.cid
                WHERE STR_TO_DATE(product_record.insert_time,'%Y-%m-%d') BETWEEN #{before} AND #{now}
            ) AS submit,
            (
                SELECT
                    COUNT(*)
                FROM product_record
                JOIN product ON product_record.pid = product.pid
                JOIN classification_query ON product.cid = classification_query.cid
                WHERE STR_TO_DATE(product_record.process_time,'%Y-%m-%d') BETWEEN #{before} AND #{now}
            ) AS process,
            (
                SELECT
                    COUNT(*)
                FROM approach
                JOIN classification_query ON approach.cid = classification_query.cid
                WHERE STR_TO_DATE(business_time,'%Y-%m-%d') BETWEEN #{before} AND #{now}
            ) AS approach,
            (
                SELECT
                    COUNT(*)
                FROM entrance
                JOIN classification_query ON entrance.cid = classification_query.cid
                WHERE STR_TO_DATE(business_time,'%Y-%m-%d') BETWEEN #{before} AND #{now}
            ) AS entrance
    </select>

</mapper>
